---
interface Props {
    index: number,
    title: string,
    idTag: string,
}
const { index, title, idTag } = Astro.props;
---
<div id={idTag} class="h-[100px] w-full"></div>
<section class="Section">
    <div class="Section__titleArea">
        <h4>0{index}.</h4>
        <h3>{title}</h3>
        <div class="Section__titleArea__line"></div>  
    </div>
    <div class="Section__content">
        <slot />
    <div/>
</section>

<style>
    .Section {
        @apply px-6 md:px-0 mx-auto md:w-[80%] md:max-w-[700px] xl:max-w-[800px];
        &__titleArea {
            @apply flex gap-x-3 items-end pt-3 pb-2;
            h3 {
                @apply text-white/80;
            }

            &__line {
                @apply border-t border-white/20 pb-4 grow;
            }
        }
        &__content {
            @apply pt-10;
        }
    }
</style>