html {
  @apply text-primary text-base;
  font-family: "Fira Mono", sans-serif;

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-xs;
  }
  p {
    font-family: "Outfit Variable", sans-serif;
  }

  p,
  button,
  a {
    @apply text-base;
  }

  button,
  a {
    font-family: "Rajdhani", sans-serif;
  }
}
