---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Home/Presentation.astro";
import About from "../components/Home/About.astro";
import Briefcase from "../components/Home/Briefcase.astro";
import Experience from "../components/Home/Experience.astro";
import Contact from "../components/Home/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Presentation />
    <About />
    <Briefcase />
    <Experience />
    <Contact />
  </main>
</Layout>
