.Experiences {
  @apply md:grid md:grid-cols-2;
  &__business {
    @apply flex flex-wrap py-2 mb-5 md:flex-col md:items-start;
    &__button {
      @apply py-3 px-2 text-white max-md:border-b border-primary/30 
      max-md:border-primary/50 max-md:hover:bg-white/10
      md:border-l;
    }
  }
  &__details {
    @apply py-2;
    &__header {
      @apply flex flex-wrap gap-x-2;
      h4, h5 {
        @apply text-base mb-0;
      }
      h4 {
        @apply text-white;
      }
      span {
        @apply text-xl;
      }
    }
    &__date {
      p {
        @apply mt-0 text-sm text-white/50;
      }
    }
    &__functions {
      ul {
        li {
          @apply grid gap-x-3;
          grid-template-columns: 25px auto;
          span {
            @apply text-xl translate-y-1;
          }
        }
      }
    }
  }
}

.businessActive {
  @apply max-md:border-b border-primary max-md:shadow-sm max-md:shadow-primary
  text-primary md:border-l-2;
}