---
import Section from "../Shared/Section.astro";
const index = 2;
const title = "Briefcase";
const  idTag = "Briefcase"
---
<Section index={index} title={title} idTag={idTag}>
    CONTENIDO
</Section>