---
import Section from "../Shared/Section.astro";
import ContactGooglePixelMockup from "./ContactGooglePixelMockup.astro";
const index = 5;
const title = "Contact";
const idTag = "Contact";
---
<Section index={index} title={title} idTag={idTag}>
    <div class="Contact">
        <div>
            <ContactGooglePixelMockup />
        </div>
    </div>
</Section>