---
import ContactLinkedinProfile from "./ContactLinkedinProfile.astro"
import ContactForm from './ContactForm'
---
<div class="ContactLinkedinProfile relative">
    <div class="relative mx-auto border-primary bg-dark border-[14px] rounded-xl h-[600px] w-[300px] shadow-md shadow-primary">
        <div class="w-[148px] h-[18px] bg-primary top-0 rounded-b-[1rem] left-1/2 -translate-x-1/2 absolute"></div>
        <div class="h-[32px] w-[3px] bg-primary absolute -start-[17px] top-[72px] rounded-s-lg"></div>
        <div class="h-[46px] w-[3px] bg-primary absolute -start-[17px] top-[124px] rounded-s-lg"></div>
        <div class="h-[46px] w-[3px] bg-primary absolute -start-[17px] top-[178px] rounded-s-lg"></div>
        <div class="h-[64px] w-[3px] bg-primary absolute -end-[17px] top-[142px] rounded-e-lg"></div>
        <div class="overflow-hidden w-[272px] h-[572px] bg-primary">
            <ContactForm />
        </div>
    </div>
</div>