<div class="ContactLinkedinProfile">
    <div class="ContactLinkedinProfile__header">
        <img src="/assets/images/profile/linkedin-profile-alex-coronell.jpg" alt="Linkedin Profile Alex Coronell">
    </div>
</div>

<style>
    .ContactLinkedinProfile {
        @apply bg-white rounded-xl w-[272px] h-[572px];
    }
</style>