---
import Section from "../Shared/Section.astro";
const index = 4;
const title = "Experiences";
const idTag = "Experiences";
---
<Section index={index} title={title} idTag={idTag}>
    <div class="Experiences">
        <p>Content</p>
    </div>
</Section>