---
import Section from "../Shared/Section.astro";
import Experiences from "./Experiences";
const index = 4;
const title = "Experiences";
const idTag = "Experiences";
---

<Section index={index} title={title} idTag={idTag}>
  <div class="ExperiencesSection">
    <Experiences client:load />
  </div>
</Section>
