---
/* Components */
import Section from "../Shared/Section.astro";
import Experiences from "./Experiences";

/* Types */
import { type MenuItem } from '../../core/models/MenuItem.interface';

/* Utils */
import { getLangFromUrl } from '../../i18n/utils';
import { translateMenu } from '../../i18n/translate'

const lang = getLangFromUrl(Astro.url)
const menuItems: MenuItem[] = translateMenu(lang)

const index = 4;
const title = menuItems[index-1].name
const idTag = menuItems[index-1].url;
---

<Section index={index} title={title} idTag={idTag}>
  <div class="ExperiencesSection">
    <Experiences lang={lang} client:load />
  </div>
</Section>
