---
import PersonalData from "../../core/data/personalData";
---

<div class="Presentation">
  <div class="Presentation__content">
    <h5>Hi, my name is</h5>
    <h1>{PersonalData.name}.</h1>
    <p>{PersonalData.shortPresentation}</p>
    <a href="#" class="btn-primary">Know my works!</a>
  </div>
</div>

<style>
  .Presentation {
    @apply w-full h-screen flex flex-col justify-center items-center;
    &__content {
        @apply px-6 sm:px-12 lg:px-0 w-full md:max-w-[791px] xl:max-w-[900px];

        h5 {
            @apply mb-2 lg:mb-4;
        }
      h1 {
        @apply text-white mb-14 xl:max-w-[500px];
      }
      p {
        @apply mb-14 text-balance text-xl lg:text-2xl;
      }
      a {
        @apply w-[180px] my-5;
      }
    }
  }
</style>
