---
/* Components */
import Section from "../Shared/Section.astro";
import WorkItem from "../Shared/WorkItem.astro";

/* Types */
import { type MenuItem } from '../../core/models/MenuItem.interface';

/* Utils */
import { getLangFromUrl } from '../../i18n/utils';
import { translate, translateMenu } from '../../i18n/translate'

const lang = getLangFromUrl(Astro.url)
const personalData = translate(lang)
const menuItems: MenuItem[] = translateMenu(lang)

const index = 3;
const title = menuItems[index-1].name
const idTag = menuItems[index-1].url;
---
<Section index={index} title={title} idTag={idTag}>
    <div class="Works md:grid md:grid-cols-2 md:gap-6">
        {
            personalData.works.map(item => <WorkItem item={item} />)
        }
    </div>
</Section>